

<nav class="navbar navbar-expand-lg bg-body-tertiary n1" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" routerLink="/homepage">Home</a></li>
                <li class="nav-item"><a class="nav-link active" routerLink="api/asset/register">Register Asset</a></li>
                <li class="nav-item"><a class="nav-link active" routerLink="api/supportrequests/new">Create Ticket</a></li>
                <li class="nav-item"><a class="nav-link active" routerLink="api/supportrequests/open">Open Tickets</a></li>
                <li class="nav-item"><a class="nav-link active" routerLink="api/supportrequests/ticketId/:id">Status of Ticket</a></li>
            </ul>

        </div>
        
    </div>
    

</nav>
<router-outlet></router-outlet>

